<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">

        <input type="text" v-model="price">
        <div>Tax {{ formatted(tax) }}</div>
        <div>Total {{ formatted(total) }}</div>

    </div>

    <script>
        new Vue({
            el: '#app',

            data: {
                price: 100,
            },
            methods: {
                formatted: function (value) {
                    return '$' + value.toFixed(1);
                }
            },

            computed: {
                tax: function () {
                    return this.price * 0.1;
                },

                total: function () {
                    return parseInt(this.price) + this.tax;
                }
            },
        });
    </script>


</body>

</html>