<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment-with-locales.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

    <div id="main">
        <h2>Pogoda - Dziś</h2>
        <h3>{{ time }}</h3>
        <h3>{{ date }}</h3>

        <section v-if="error">
            <p>Error loading data</p>
        </section>

        <section v-else>
            <div v-if="today">
                <p>Temperatura: {{ today.main.temp | round }} <span>&#8451;</span></p>
                <p>Odczuwalna: {{ today.main.feels_like | round }} <span>&#8451;</span></p>
                <p>Ciśnienie: {{ today.main.pressure }} hPa</p>
                <p>Wilgotność: {{ today.main.humidity }} %</p>
            </div>

            <div v-if="forecast">
                <table border="1|1" style="border-collapse: collapse;">
                    <tr>
                        <th>Day + 1</th>
                        <th>Day + 2</th>
                        <th>Day + 3</th>
                        <th>Day + 4</th>
                        <th>Day + 5</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table> 
            </div>

            <div v-else>Fetching data...</div>

            <button @click="loadToday"> Zaciągnij dane z serwera openweathermap</button>
        </section>
    </div>

    <script>
        new Vue({
            el: "#main",

            data() {
                return {
                    today: null,
                    forecast: null,
                    loading: true,
                    error: false,
                    time: "",
                    date: ""
                }
            },

            methods: {
                loadToday() {
                    axios.get('https://api.openweathermap.org/data/2.5/weather?id=3094802&appid=163248a04e6dd4f214df76f047c32e74&units=metric&lang=pl')
                        .then(response => {
                            this.today = response.data
                            console.log(moment().format() + " Current weather fetched")

                        })
                        .catch(error => {
                            console.log(error)
                            this.error = true
                        })
                },
                loadForecast() {
                    axios.get('https://api.openweathermap.org/data/2.5/forecast?id=3094802&appid=163248a04e6dd4f214df76f047c32e74&units=metric&lang=pl')
                        .then(response => {
                            this.forecast = response.data
                            console.log(moment().format() + " Forecast wather fetched")

                        })
                        .catch(error => {
                            console.log(error)
                            this.error = true
                        })
                },
                getDateTime() {
                    this.time = moment().format("HH:mm:ss")
                    this.date = moment().format("dddd, D MMM.")
                }
            },

            filters: {
                round(value) {
                    return value.toFixed()
                }
            },

            mounted() {
                this.loadToday()
                this.loadForecast()
                this.interval = setInterval(this.loadToday, 10000);
                this.interval = setInterval(this.loadForecast, 20000);
                this.interval = setInterval(this.getDateTime, 1000);


            }
        })

    </script>
</body>

</html>